nav{
    position: fixed;
    top:0px;
    display: flex;
    justify-content: center;
    width: 100%;
    
    color:var(--text-primary-color);
    text-align: center;
    background: var(--default-primary-color);
    z-index: 100;
    box-shadow: 0px 4px 12px gray;
}
.nav>a{
    flex:1;
}

.navButton{
    
    padding: 20px;
    font-size: 1.5rem;
    background: var(--default-primary-color);
    display: flex;
    align-items: center;
}

.navButton>i{
    margin-left: 10px;
}

@media only screen and (max-width: 480px) {
    .navButton {
        font-size: .7rem;
    }
}
.navButtonSelected{
    background: var(--dark-primary-color);
}

a{
    text-decoration: none;
    color:var(--text-primary-color);
}